# OS
.DS_Store

# IDEs and editors
/.idea

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

/.env
/helm/api-platform/charts/*
!/helm/api-platform/charts/.gitignore
