# Read the documentation at https://github.com/thephpleague/flysystem-bundle/blob/master/docs/1-getting-started.md
flysystem:
    storages:
        default.storage:
            adapter: 'local'
            options:
                directory: '%kernel.project_dir%/var/storage/default'
                
        customer.storage:
            adapter: 'aws'
            # visibility: public # Make the uploaded file publicly accessible in S3
            options:
                client: Aws\S3\S3Client # The service ID of the Aws\S3\S3Client instance
                bucket: '%env(S3_AWS_PRIVATE_BUCKET)%'
                #prefix: 'optional/path/prefix'
                #streamReads: true        
